body{
    margin: 0;
    background-image: url("station.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-top: 10%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: red;
}
h2{
    font-weight: bold;
    text-align: center;
    color: red;
}
p{
    text-align: center;
    font-size: 20px;
    color: red;
}
button:first-of-type{
    margin-left: 35%;

}
button{
    border: none;
    width: 150px;
    padding: 5px;
    color: red;
    background-color: #fff;
}